<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Get Weather</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <h1>Get Weather</h1>
        <h2>Today is: {{date}}</h2>

        <form action="getweather" method="GET">
            <input type="text" placeholder="Latitude..." name="lat"/>
            <input type="text" placeholder="Longitude..." name="long"/>
            <input type="submit" value="Submit">
        </form>

        <main>
            <h2>Example Locations:</h2>
            <p>Phoenix: 33.445961, -112.075839</p>
            <p>Seattle: 47.600279, -122.330948</p>
            <p>New York City: 40.725152, -74.001783</p>
            <p>Washington, DC: 38.896979, -77.038951</p>
        </main>
        <p><a href="/about">About Page</a></p>
    </body>
</html>